.sidebar {
  text-align: center;
  padding: 10px;
  position: fixed;
  right: 0;
  height: 100vh;
  width: 240px;
  background: #eee;
  box-shadow: -2px 0 6px rgba(0,0,0,0.2);
  z-index: 999;
  overflow-y: scroll;
}

.terrainPicker {
  display: flex;
  flex-wrap: wrap;
  button {
    border: none;
    border-radius: 0;
    width: 50%;
  }
}

.saveButtons {
  margin: 10px 0;
  button {
    min-width: 110px !important;
  }
}

.islandTitle {
  input {
    text-align: center;
    font-weight: 700;
    height: 24px;
    padding: 0;
    letter-spacing: 0;
  }
}
.editIcon {
  position: absolute;
  right: 10px;
}

.MuiDivider-root {
    margin: 10px 0;
}

h4 {
  height: 24px;
  line-height: 24px;
  margin: 20px 0 10px 0;
}
