.sidebar {
  text-align: center;
  padding: 10px;
  position: fixed;
  right: 0;
  height: 100vh;
  width: 200px;
  background: #eee;
  box-shadow: -2px 0 6px rgba(0,0,0,0.2);
  z-index: 999;
}

.terrainPicker {
  display: flex;
  flex-wrap: wrap;
  button {
    border: none;
    border-radius: 0;
    width: 100px;
  }
}

.saveButtons {
  margin: 10px 0;
  button {
    min-width: 100px !important;
  }
}

.MuiDivider-root {
    margin: 10px 0;
}
